@font-face {
  font-family: 'Campton';
  src: url('https://fonts.cdnfonts.com/css/campton');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Pretendard';
  background: #000;
  color: #fff;
}

main {
  position: relative;
  width: 375px;
  min-width: 375px;
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  main {
    width: 100%;
  }
}

p {
  margin: 0;
  padding: 0;
}
