.process-container {
  padding-top: 54px;
  margin-bottom: 20px;
}

.quiz-nav {
  height: 40px;
  padding: 0 26px;
}

.quiz-nav .go-back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 14px;
  height: 40px;
}

.quiz-nav .name {
  margin: 0;
  padding-top: 12px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #d8d8d8;
}

.next-step {
  margin: 43px 0 40px;
  display: flex;
  justify-content: center;
}

.next-step.fixed {
  display: flex;
  justify-content: center;
  /* position: fixed; */
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 40px;
}
