.container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background: #000;
  color: #fff;
  text-align: center;
}

.desc {
  position: relative;
  padding-top: 120px;
  z-index: 2;
}

.test-title {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 7px;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
}

.brand-29cm {
  margin-right: 4px;
  font-family: 'Campton';
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.test-title-logo {
  position: relative;
  padding-top: 20.51%;
  margin-bottom: 27px;
}

.desc {
  padding-top: 33%;
}

.gift {
  position: absolute;
  top: 0;
  left: 50%;
  box-sizing: border-box;
  /* margin: 0 10.26%; */
  /* padding-top: 20%; */
  margin: 0 auto;
  // height: 300px;
  // width: 300px;
  max-width: 375px;
  width: 100%;
  height: 100vh;
  transform: translate(-50%, 0);
}

.intro-desc {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #8c8c8c;
}

.step-button {
  position: absolute;
  top: 47.05%;
  right: 18px;
  z-index: 10;
}
