.container {
  max-height: 812px;
  position: relative;
  overflow: hidden;
  background: #000;
  color: #fff;
  text-align: center;
}

.desc {
  position: relative;
  padding-top: 107px;
  z-index: 2;
}

.test-title {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 7px;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
}

.brand-29cm {
  margin-right: 4px;
  font-family: 'Campton';
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.test-title-logo {
  position: relative;
  height: 58px;
  margin-bottom: 27px;
}

.gift-wrapper {
  width: 100%;
}

.gift {
  /* display: flex; */
  position: relative;
  padding-top: 140%;
  overflow: hidden;

  @media (max-height: 749px) {
    padding-top: 120%;
  }
}

.intro-desc {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #8c8c8c;
}

.step-button {
  position: absolute;
  top: 47.05%;
  right: 18px;
  z-index: 10;
}
