@keyframes slide-left {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.quiz {
  margin-bottom: 8px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
}

.layout {
  /* position: absolute; */
  /* width: 100%; */

  display: none;
  opacity: 0;
}

.show {
  display: block;
  opacity: 1;
  animation: slide-left 0.4s;
}

.nextStep {
  position: absolute;
  top: 57.05%;
  right: 18px;
  z-index: 10;
}
