.container {
  display: grid;
  grid-template-columns: repeat(2, 103px);
  justify-content: center;
  align-content: center;
  gap: 8px;
  width: 100%;
}

.notchecked {
  opacity: 0.4;
}

.color {
  position: relative;
  display: flex;
  width: 103px;
  height: 103px;

  label {
    display: relative;
    width: 100%;
    height: 100%;
  }

  input[type='radio'] {
    appearance: none;
    margin: 0;
  }

  input:checked + label {
    background: #fff;
    color: #000;
  }

  input:checked + label::after {
    content: '';
    background: url('/images/check.svg') no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid #fff;
    background-position: 96% 96%;
  }
}
