.container {
  display: grid;
  gap: 6px;
}

.wrapper {
  display: flex;

  label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 62px;
    box-sizing: border-box;
    color: #4d4d4d;
    font-weight: 600;
    font-size: 14px;
    word-break: keep-all;
    text-align: center;
  }

  input[type='radio'] {
    appearance: none;
    margin: 0;
  }

  input:checked + label {
    color: #fff;
  }

  input:checked + label::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
