.container {
  position: absolute;
  overflow: hidden;
  inset: 0;
  height: 100vh;
  background: #000;
  color: #fff;
  @media (max-height: 749px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.spinner {
  padding-top: 109px;
  margin-bottom: 65px;
}

.rotation {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  width: 21.8px;
  height: 21.8px;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text {
  position: relative;
  z-index: 1;
  text-align: center;

  p {
    margin: 0;
    padding: 0;
  }
  p:nth-child(1) {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
  p:nth-child(2) {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
  }
}

.loading {
  transform: translate(-50%, 0);
  position: relative;
  width: 472px;
  left: 50%;
  top: -6%;
}
