.container {
  height: 100vh;
  background: #000;
  color: #fff;
}

.spinner {
  padding-top: 124px;
  margin-bottom: 78px;
}

.rotation {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  width: 21.8px;
  height: 21.8px;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text {
  text-align: center;

  p {
    padding: 0;
  }
  p:nth-child(1) {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
  p:nth-child(2) {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
  }
}
