#screenshot {
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.toast {
  position: fixed;
  bottom: 38px;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  visibility: hidden;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 23px;
  width: 343px;
  height: 62px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  color: #000;
  background: #fff;
}

.toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

main.result {
  color: #fff;

  p,
  h1 {
    padding: 0;
    margin: 0;
  }
  a,
  a:active {
    appearance: none;
    text-decoration: none;
  }

  .save {
    display: flex;
    justify-content: end;
    padding: 0 14px;
    padding-top: 70px;

    .btn {
      position: relative;
      width: 30px;
      height: 30px;
      appearance: none;
      background: transparent;
      border: none;
    }
  }

  .title {
    margin-bottom: 63px;
    text-align: center;

    p {
      margin-bottom: 5px;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }
    h1 {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
    }
  }

  .cube {
    position: relative;
    width: 222px;
    height: 222px;

    margin: 0 auto 76px;
    display: flex;
    justify-content: center;
  }

  .en_title {
    padding: 0 14px;
    margin-bottom: 14px;
    height: 57px;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;

    .box {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .desc {
    padding: 0 14px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;

    .box {
      padding: 18px 18px 30px 18px;
    }
  }

  .figure-container {
    padding: 0 16px;
    margin-bottom: 30px;

    > p {
      position: relative;
      display: inline-block;
      margin-bottom: 14px;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;

      .ballon {
        position: absolute;
        top: 29px;
        left: 7px;
        box-sizing: border-box;
        padding: 12px 0;
        width: 226px;
        border-radius: 5px;
        background: #000000;
        border: 1.5px solid #ffffff;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        text-align: center;

        &:before {
          content: '';
          width: 0;
          height: 0;
          position: absolute;
          top: -8px;
          left: 28px;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid #fff;
        }

        &:after {
          content: '';
          width: 0;
          height: 0;
          position: absolute;
          border-left: 6.5px solid transparent;
          border-right: 6.5px solid transparent;
          border-bottom: 6.5px solid #000;
          top: -5.5px;
          left: 29.5px;
        }
      }
    }

    .box {
      padding: 50px 0;
      background: rgba(0, 0, 0, 0.3);
    }

    .figure {
      .block {
        display: flex;
        justify-content: center;

        > div {
          width: 105px;
          height: 105px;
          box-sizing: border-box;
        }

        .text {
          padding: 20px 0;

          .brand {
            margin-bottom: 10px;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: -0.022em;
            text-decoration-line: underline;
            color: #ffffff;
          }
          .product {
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: -0.03em;
            color: #d8d8d8;
            opacity: 0.5;
          }
        }

        .image {
          position: relative;
          background: white;
          .idx {
            position: absolute;
            top: 4px;
            left: 4px;
            z-index: 1;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            color: #4d4d4d;
          }

          &.border-top:after {
            content: '';
            position: absolute;
            width: 95px;
            left: 50%;
            transform: translate(-50%, 0);
            border: 0.75px dashed #8c8c8c;
          }

          &.border-left:after {
            content: '';
            position: absolute;
            width: 95px;
            left: 0;
            top: 50%;
            transform: translate(-50%, 0) rotate(90deg);
            border: 0.75px dashed #8c8c8c;
          }
        }

        .left {
          padding-right: 10px;
          text-align: right;
        }
        .right {
          padding-left: 10px;
        }
      }
    }
  }

  .brand-block {
    padding: 0 16px;
    margin-bottom: 60px;
    padding: 0 16px;

    p {
      margin-bottom: 14px;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
    }

    .desc {
      font-weight: 500;
      font-size: 16px;
      line-height: 23px;
    }

    .brands {
      display: flex;
      justify-content: center;
      margin-bottom: 14px;

      .brand {
        border: 1px solid rgba(238, 238, 238, 1);
        position: relative;
        width: 97px;
        height: 99px;
      }
      .brand:nth-child(2) {
        margin: 0 12px;
      }
    }
  }

  .footer {
    position: relative;
    padding-bottom: 50px;
    text-align: center;

    .share {
      position: relative;
      z-index: 1;
      margin-bottom: 30px;

      button {
        margin: 0 auto;
      }
    }

    a {
      position: relative;
      z-index: 1;
      text-decoration: none;
      color: #fff;
    }

    .grad {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 149px;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 26.85%,
        #000000 141.95%
      );
      background-blend-mode: multiply;
    }
  }
}

.box {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}
