.tmp {
  width: 100%;
  margin: 20px 0;
  height: 250px;
  background: gray;
}

main.result {
  background: linear-gradient(180deg, #ff6838 0%, #b3ce91 100%);
  color: #fff;

  p,
  h1 {
    padding: 0;
    margin: 0;
  }

  .save {
    display: flex;
    justify-content: end;
    padding: 0 14px;
    padding-top: 70px;

    .btn {
      position: relative;
      width: 30px;
      height: 30px;
      appearance: none;
      background: transparent;
      border: none;
    }
  }

  .title {
    text-align: center;

    p {
      margin-bottom: 5px;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }
    h1 {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
    }
  }

  .en_title {
    padding: 0 14px;
    margin-bottom: 14px;
    height: 57px;
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;

    .box {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .desc {
    padding: 0 14px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;

    .box {
      padding: 18px 18px 30px 18px;
    }
  }

  .figure-container {
    padding: 0 16px;
    margin-bottom: 60px;

    p {
      margin-bottom: 14px;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
    }

    .box {
      padding: 50px 0;
    }

    .brand-block {
      padding: 0 16px;

      .brands {
        display: flex;
        justify-content: space-between;
        margin-bottom: 14px;

        .brand {
          width: 97px;
          height: 99px;
          border: 1px solid #fff;
        }
      }
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        padding: 0;
        margin: 0;
      }
    }
  }

  .footer {
    padding-bottom: 50px;
    text-align: center;

    .share {
      margin-bottom: 30px;

      button {
        margin: 0 auto;
      }
    }

    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

.box {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}
